<a href="https://colab.research.google.com/github/kamalsanjay/python/blob/master/data1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
# Load the datasets
sales_data = pd.read_csv('/content/sales_data.csv')
employee_data = pd.read_csv('/content/employee_data.csv')
# Display the first few rows of each dataset (optional, for verification)
print("Sales Data:")
print(sales_data.head())
print("\nEmployee Data:")
print(employee_data.head())

# Aggregate sales data to find total revenue by region
total_revenue_by_region = sales_data.groupby('Region')['Revenue'].sum().reset_index()
print(total_revenue_by_region)

# Filter regions where total revenue exceeds $100,000
high_revenue_regions = total_revenue_by_region[total_revenue_by_region['Revenue'] > 100000]
print(high_revenue_regions)

# Merge this filtered data with employee data
# merged_data = pd.merge(employee_data,high_revenue_regions, on='Region',)
# print(merged_data)
merged_data = pd.concat([employee_data,high_revenue_regions], axis=1)
print(merged_data)
merged_data1 = pd.merge(merged_data,high_revenue_regions, on='Region',)
print(merged_data1)

# Calculate the average salary for employees in those regions
average_salary = merged_data1['Salary'].mean()
print(average_salary)

# # Display the result
print(f"The average salary of employees in regions with total revenue exceeding $100,000 is: ${average_salary:.2f}")

Sales Data:
  Product Name  Quantity Sold  Revenue Region  campaign cost
0       Laptop            150   150000  North         120000
1        Phone            300   120000   East          96000
2       Tablet            100    40000  South          32000
3   Headphones            200    30000   West          24000
4      Monitor            120    48000  North          38400

Employee Data:
   Employee ID     Name Department  Salary  Attendance (%)
0          101    Alice      Sales   50000              95
1          102      Bob  Marketing   60000              88
2          103  Charlie         HR   55000              90
3          104    David         IT   70000              92
4          105      Eve    Finance   65000              85
  Region  Revenue
0   East   120000
1  North   198000
2  South    40000
3   West    30000
  Region  Revenue
0   East   120000
1  North   198000
   Employee ID     Name Department  Salary  Attendance (%) Region   Revenue
0          101    Alice      Sales   50000              95   East  120000.0
1          102      Bob  Marketing   60000              88  North  198000.0
2          103  Charlie         HR   55000              90    NaN       NaN
3          104    David         IT   70000              92    NaN       NaN
4          105      Eve    Finance   65000              85    NaN       NaN
   Employee ID   Name Department  Salary  Attendance (%) Region  Revenue_x  \
0          101  Alice      Sales   50000              95   East   120000.0
1          102    Bob  Marketing   60000              88  North   198000.0

   Revenue_y
0     120000
1     198000
55000.0
The average salary of employees in regions with total revenue exceeding $100,000 is: $55000.00